[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/4iwen/jai-glfw
	branch = main
[submodule "modules/jassimp"]
	path = modules/jassimp
	url = https://github.com/4iwen/jassimp
	branch = dev
[submodule "game/assets/models/glTF-Sample-Assets"]
	path = game/assets/models/glTF-Sample-Assets
	url = https://github.com/KhronosGroup/glTF-Sample-Assets
	branch = main
[submodule "modules/jai-imgui"]
	path = modules/jai-imgui
	url = https://github.com/4iwen/jai-imgui
	branch = prod
[submodule "engine/assets/fonts/proggyforever"]
	path = engine/assets/fonts/proggyforever
	url = https://github.com/ocornut/proggyforever.git
	branch = master
[submodule "modules/toml-jai"]
	path = modules/toml-jai
	url = https://github.com/4iwen/toml-jai
	branch = main
